.loading-card{
    width:14vh;
    height:14vh;
    position: relative;
    margin:auto;
    margin-top:30vh;
}

.loading-anim{
    position: absolute;
    width:100%;
    transform:translateZ(2px);
}